* {
    color: white;
    margin: 0;
    padding: 0;
    background: #262626;
    box-sizing: border-box;
}

body {
    padding: 5%; /*zodat de Boxes niet in de middel zijn*/
}


/*--[[ De binnenkant van de website ]]--*/

.box {

    margin-top: 20px;
    background-color: #383838;
    padding: 20px;
    border-radius: 10px; /*geeft border*/

}



/*--[[ nav bar Css ]]-- (deco zodat het mij duidelijk opvalt)*/
.bar {
    height: 50vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}
/*nav bar content*/
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 10%;
    padding-right: 10%;
    font-weight: bold; 
}

/*The List objext in the nav bar*/
nav ul li {
    display: inline-block;
    padding: 10px 20px;
}
/*De knoppen in de nav bar*/
nav ul li a {
    text-decoration: none; /*Haalt de underline weg*/
    font-weight: bold; /*Maakt het BOLD*/
}

nav ul li a:hover { /*Hover effect*/
    color: yellow;
    transition: .5s;
}

/*Geeft de "current page" een andere kleur*/
.Active {
    color: yellow;
}

/*Header Code*/

/*Globale knop*/
Button {
    border: none;
    background: yellow;
    padding: 15px 35px;
    color: black;
}

/*Globale knop Hover Effect*/
Button:hover {
    color: yellow;
    background: black;
}