/*
    
color scheme van:
    https://linear.app/

Random stuff:
    https://www.w3schools.com/howto/howto_css_blog_layout.asp
    https://www.w3schools.com/howto/howto_css_zig_zag_layout.asp


root:
    https://developer.mozilla.org/en-US/docs/Web/CSS/:root

Font:
    https://fonts.google.com/specimen/Fira+Mono
    https://www.w3schools.com/css/css3_fonts.asp





*/
@font-face {
    font-family: Fira Mono; src: url(/PO/Fira_Mono/FiraMono-Regular.ttf) format('ttf');
}

:root { /*Variables*/
    --font-family-primary: 'Vollkorn', serif;
    --font-family-secondary: 'PT Sans', sans-serif;
}

/* --[[ Globale dingen]]--  (decoratie zodat het mij duidelijker opvalt)*/
* {
    color: #ffffff;
    text-shadow: 0 0 5px rgb(0, 0, 0); /*Readabily with white text*/
}

body {
    margin: 0;
    padding: 0;
}

/*https://www.w3schools.com/howto/howto_css_fullscreen_video.asp*/
#myVideo {
    z-index: -10; /*De plaatje is achteraan*/
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

#VideoText {
    text-align: center;
    margin-top: 300px;
    z-index: 10;
    padding: 0%,5%;
    color: rgb(255, 0, 0);
    padding: 10px 10px;
}


#VideoTextRightDown {
    float: right;
    margin-top: 100px; /*kan ik niet goed inschatten*/
    margin-right: 50px;
    backdrop-filter: blur(100px);
    padding: 10px;
}

#Main {
    padding: 5%; /*zodat de Boxes in de middel zijn*/
    margin-top:600px;
    backdrop-filter: blur(10px);
}

p {
    font-size: 25px;
    font-weight: 300;
}

h1 {
    font-family: var(--font-family-primary);
    font-weight: 300;
    font-size: 50px;
}

.rightText {
    float: left;
    width: 50%;
    white-space: wrap;
    margin-bottom: .4em;
    align-self: center;
    margin-top: 0px;
}

.Left {
    float: left;
}

.right {
    float: right;
}

Button {
    border: none;
    background: linear-gradient(92.88deg,
    rgba(69, 94, 181, 1) 9.16%,
    rgba(86, 67, 204, 1) 43.89%,
    rgba(103, 63, 215, 1) 64.72%);
    padding: 15px 35px;
    color: rgba(255,255,255,1);
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}


Button:hover {
    transition: .5s;
    text-shadow: 0 0 10px #fff, 0 0 70px #ffffff;
    transform: scale(1.05) rotate(1deg);
}

/*nav bar content*/

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold; 
    flex-direction: column;
    float: center;
    size: 100%;
}

nav li {
    font-size: larger;
    width: auto;
    color: rgba(17, 17, 17, 1);
    padding: 5px 15px;
    margin: 2px 0;
    display: inline-block;
    text-align: center;
    margin: 0px 20px;
}

/*De knoppen in de nav bar*/
nav a {
    text-decoration: none; /*Haalt de underline weg*/
    font-weight: bold; /*Maakt het BOLD*/
    display: inline-block;
    padding: 10px 10 px;
    text-align: center;
}

nav a:hover { /*Hover effect*/
    color: rgb(0, 0, 0);
    transition: .5s;
    text-shadow: 0 0 50px rgb(255, 255, 255); /*google*/
    font-family: Fira Mono;
}

/*Geeft de "current page" een andere kleur*/
.Active {
    color: yellow;
}

#NavBar {
    z-index: 100;
    margin-bottom: 0px;
    position:fixed;
    top:0px; /*Navbar is bovenaan*/
    width: 100%;
    color: rgba(255,255,255, 1);
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(20px);
    text-decoration: none;
}

/*--[[ De binnenkant van de website ]]--*/
.box {
    z-index: 1; /*nav bar glitch fix*/
    background-color: rgba(29, 29, 29,1);
    backdrop-filter: blur(5px);
    padding: 20px 20px;
    border-radius: 10px; /*geeft ronde border*/
    margin: 5% 5%;
    height: 600px;
    display: block;
}

.ImageLeft {
    display: flex;
    align-items: center;
    float: right;
    width: auto;
    height: 80%;
    padding: 0px 0px 0px 0px;
    top: 50%;
}

/*--[[ nav bar Css ]]-- */
.Name {
    color: aqua;
    padding-left: 10px;
    bottom: 0;
    right: 0;
    /*De naam/icon van de website*/
}

#LuaCode {
    float: right;
    width: 50%;
    max-height: 300px;
    border-radius: var(--border-radius-primary);
    object-fit: cover;
}

/*--[[ Footers zijn cool ]]--*/
Footer {
    height: 50px;
    padding: 5%;
    text-align: center;
    background-color: black;
    width: 90%;
}

.FooterList li {
    list-style-type: none;
    background-color: brown;
}


/*Special effects

https://www.w3schools.com/howto/howto_css_glowing_text.asp
*/
.Glow {
    text-shadow:  0 0 5px rgb(0, 0, 0), 0 0 50px #000000;
}