/* --[[ Globale dingen]]--  (deco zodat het mij duidelijk opvalt)*/
* {
    color: white;
    margin: 0;
    padding: 0;
    background: #262626;
    box-sizing: border-box;
}

body {
    padding: 5%; /*zodat de Boxes niet in de middel zijn*/
}
body footer {
    padding: 0px; /*Maakt de footer beter*/
}

Button {
    border: none;
    background: yellow;
    padding: 15px 35px;
    color: black;
}

Button:hover {
    color: yellow;
    background: black;
}


/*--[[ De binnenkant van de website ]]--*/

.main {
    margin-bottom: 30px; /* Add a bottom margin to avoid content overlay */
}


.box {

    margin-top: 20px;
    background-color: #383838;
    padding: 20px;
    border-radius: 10px; /*geeft border*/

}



/*--[[ nav bar Css ]]-- */
.Name {
    color: aqua;
    /*De naam/icon van de website*/
}

.bar {
    position: fixed;
    top: 0; /*Navbar is bovenaan*/
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden; /*Google: geen scrol bar voor als bugs*/
}
/*nav bar content*/
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding: 5% 5%;
    font-weight: bold; 
}

/*The List objext in the nav bar*/
nav ul li {
    display: inline-block;
    padding: 10px 20px;
}
/*De knoppen in de nav bar*/
nav ul li a {
    text-decoration: none; /*Haalt de underline weg*/
    font-weight: bold; /*Maakt het BOLD*/
}

nav ul li a:hover { /*Hover effect*/
    color: yellow;
    transition: .5s;
}

/*Geeft de "current page" een andere kleur*/
.Active {
    color: yellow;
}


/*--[[ Footers zijn cool ]]--*/
Footer {
    padding: 0px;
    text-align: center;
    margin-top: 20px;
    background-color: black;
    width: 100%;
}


