/* --[[ Globale dingen]]--  (deco zodat het mij duidelijker opvalt)*/
* {
    color: white;
}

body {
    background: #262626;
    margin: 0;
    padding: 0;
}

body #main {
    padding: 5%; /*zodat de Boxes niet in de middel zijn*/
}

Button {
    border: none;
    background: yellow;
    padding: 15px 35px;
    color: black;
    border-radius: 10px;
}

Button:hover {
    color: yellow;
    background: black;
    transition: 1s;
}

Button:hover:after{
    background: yellow;
    color: black;
    transition: 1s;
}

/*--[[ De binnenkant van de website ]]--*/
.box {
    margin-top: 20px;
    background-color: #383838;
    padding: 20px 20px;
    border-radius: 10px; /*geeft border*/
    margin: 5% 5%;
}



/*--[[ nav bar Css ]]-- */
.Name {
    color: aqua;
    /*De naam/icon van de website*/
}

.sticky-section {
    overflow: hidden;
    margin-bottom: 50px;
    position:fixed;
    top:0px; /*Navbar is bovenaan*/
    width: 100%;
    color: white;
    background-color: rgb(0, 0, 0);
}
/*nav bar content*/
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    font-weight: bold; 
    padding: 10px 5%;
}


/*De knoppen in de nav bar*/
nav a {
    text-decoration: none; /*Haalt de underline weg*/
    font-weight: bold; /*Maakt het BOLD*/
    display: inline-block;
    padding: 10px 10 px;
}

nav a:hover { /*Hover effect*/
    color: yellow;
    transition: .5s;
}

/*Geeft de "current page" een andere kleur*/
.Active {
    color: yellow;
}


/*--[[ Footers zijn cool ]]--*/
Footer {
    height: 50px;
    padding: 5%;
    text-align: center;
    margin-top: 20px;
    background-color: black;
    width: 100%;
}


