/*
    /-!REFERENTIES!-\ (wow)

knop color scheme van:
    https://linear.app/ - super coole website

Layout:
    https://www.w3schools.com/howto/howto_css_blog_layout.asp
    https://www.w3schools.com/howto/howto_css_zig_zag_layout.asp

Font:
    https://fonts.google.com/specimen/Fira+Mono
    https://www.w3schools.com/css/css3_fonts.asp

Glow:
    https://www.w3schools.com/howto/howto_css_glowing_text.asp

Video background:
    https://www.w3schools.com/howto/howto_css_fullscreen_video.asp

VoorbeeldenVanVNR:
    Fonts (fonts.css heeft op regel 116 en 111 een " maar de rest heeft een '?


Extra:
    W3schools gebruikt om te leren en google als ik iets vergat.
    Zoals hoe je een border rond maakt. 
    De rest kopieer ik dus kleine dingen van google en niet hele scripts.
    Meeste maakte ik het zelf

*/
@font-face {font-family: 'Fira Mono'; src: url('/PO/Fira_Mono/FiraMono-Regular.ttf') format('ttf');}


/* --[[ Globale dingen]]--  (decoratie zodat het mij duidelijker opvalt)*/
* {
    color: #ffffff;
    text-shadow: 0 0 5px rgb(0, 0, 0); /*Readabily with white text*/
}

body {
    margin: 0;
    padding: 0;
}

#Video {
    z-index: -10; /*De plaatje is achteraan*/
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

#VideoText {
    text-align: center;
    margin-top: 200px;
    z-index: 10;
    padding: 10px 10px;
}


#VideoTextRightDown {
    float: right;
    margin-top: 100px; /*kan ik niet goed inschatten*/
    margin-right: 50px;
    backdrop-filter: blur(100px);
    padding: 10px;
    border: 4px dashed rgb(0, 0, 0);  
    padding:0.03em 0.25em;
}

#Main, #MainIndex  {
    padding: 5%; /*zodat de Boxes in de middel zijn (en niet de rand aanraken)*/
    backdrop-filter: blur(5px); /*Zodat de achtergrond blur krijgt en er emeer op de boxes worden gefocuseerd*/
}

/*Ziet er cooler uit 😎*/
#main       { margin-top:0px   }
#MainIndex  { margin-top:150px }

p {
    font-size: 25px;
    font-weight: 300;
    font-family: 'Fira Mono';
}

h1 {
    font-family: 'Arial';
    font-weight: 300;
    font-size: 50px;
}

.rightText {
    float: left;
    width: 50%;
    margin-bottom: .4em;
    margin-top: 0px;
}

.Left {
    float: left;
    margin-top: 50px;
}

.right {
    float: right;
    position: relative;
    top: 10px;
}

Button {
    border: none;
    background: linear-gradient(92.88deg, 
    rgba(69, 94, 181, 1) 9.16%,
    rgba(86, 67, 204, 1) 43.89%,
    rgba(103, 63, 215, 1) 64.72%);
    padding: 15px 35px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}


Button:hover {
    transition: .5s;
    text-shadow: 0 0 10px #fff, 0 0 70px #ffffff;
    transform: scale(1.05) rotate(1deg);
}

/*nav bar content*/
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold; 
    flex-direction: column;
    float: center;
    size: 100%;
}

nav li {
    font-size: larger;
    width: auto;
    color: rgba(17, 17, 17, 1);
    padding: 5px 15px;
    margin: 2px 0;
    display: inline-block;
    text-align: center;
    margin: 0px 20px;
}

/*De knoppen in de nav bar*/
nav a {
    text-decoration: none; /*Haalt de underline weg*/
    font-weight: bold; /*Maakt het BOLD*/
    display: inline-block;
    padding: 10px 10 px;
    text-align: center;
    background-color: linear-gradient(92.88deg, 
    rgba(69, 94, 181, 1) 9.16%,
    rgba(86, 67, 204, 1) 43.89%,
    rgba(103, 63, 215, 1) 64.72%);
}

nav a:hover { /*Hover effect*/
    color: rgb(0, 0, 0);
    transition: .5s;
    text-shadow: 0 0 50px rgb(255, 255, 255); /*google*/
    font-family: 'Fira Mono';
}

/*Geeft de "current page" een andere kleur*/
.Active {
    color: yellow;
}

#NavBar {
    z-index: 100;
    margin-bottom: 0px;
    position:fixed;
    top:0px; /*Navbar is bovenaan*/
    width: 100%;
    color: rgba(255,255,255, 1);
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(20px);
    text-decoration: none;
}

/*--[[ De binnenkant van de website ]]--*/
.box, .boxSmall, .boxBig {
    z-index: 1; /*nav bar glitch fix, als het al niet gefixtst is*/
    background-color: rgba(29, 29, 29,1);
    backdrop-filter: blur(5px);
    padding: 20px 20px;
    border-radius: 10px; /*geeft ronde border*/
    margin: 5% 5%;
    display: block;
}

.boxSmall   { height: 400px }
.box        { height: 600px }
.boxBig     { height: 800px }

.ImageRight {
    display: flex;
    height: 70%;
    float: right;
}

/*--[[ nav bar Css ]]-- */
.Name {
    color: aqua;
    padding-left: 10px;
    bottom: 0;
    right: 0;
    /*De naam/icon van de website*/
}

#LuaCode {
    float: right;
    width: 50%;
    max-height: 300px; 
    border-radius: var(--border-radius-primary);
    object-fit: cover;
}

/*--[[ Footers zijn cool ]]--*/
Footer {
    height: 50px;
    padding: 5%;
    text-align: center;
    background-color: black;
    width: 90%;
}

.FooterList li { list-style-type: none } /*Haalt de punten weg*/



/*Special effects*/
.Glow { text-shadow:  0 0 5px rgb(0, 0, 0), 0 0 50px #000000 }


strong {
    position: relative;
  }
  
strong::before {
    /* Highlight color */
    background-color: #004517;
    content: "";
    position: absolute;
    width: calc(100% + 4px);
    height: 60%;
    left: -2px;
    bottom: 0;
    z-index: -1;
    transform: rotate(-2deg);
}