body {
    background-image: url(/overMij/Background.jpg);
    background-size: cover;
    background-position: center;
}

p {
    color: white;
}

/* The main object */
.Main {
    position: absolute;
    text-align: center;
    background-color: black;
    outline-style: dotted;
    width: 600px;
    height: 400px;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -200px;

}




/* Knoppen */
.Button {
    border-radius: 5%;
    transition: background-color 2s ease-out 100ms
}

.button:hover  {
    color: black;
    background-color: white;
    text-decoration: underline;
}




/* Text kleuren */
.Title {
    color: brown;
}


.Yellow {
    color: yellow;
}

#Name {
    color: yellow;
}

