body {
    background-image: url(/overMij/Background.jpg);
    background-size: cover;
    background-position: center;
}

/* The main object */
.Main {
    position: absolute;
    text-align: center;
    outline-style: dotted;
    width: 700px;
    height: 700px;
    top: 50%;
    left: 50%;
    margin-left: -350px;
    margin-top: -350px;
    font-size: larger;
    background-color: black;
}

.List {
    color: chartreuse;
    text-align: justify;
}

/* Knoppen */
.Button {
    border-radius: 5%;
    transition: background-color 2s ease-out 100ms
}

/* Text kleuren */
.Title {
    color: brown;
}

.Yellow {
    color: yellow;
}

#Name {
    color: yellow;
}

p {
    color: rgb(253, 253, 253);
}