body {
    background-image: url(/overMij/Background.jpg);
    background-size: cover;
    background-position: center;
}

p {
    color: white;
}

/* The main object */
.Main {
    position: absolute;
    text-align: center;
    background-color: black;
    outline-style: dotted;
    width: 600px;
    height: 400px;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -200px;

}

/* Knoppen */
.Button {
    background-color: white;
    border-radius: 5%;
}


/* Text kleuren */
.Title {
    color: brown;
}

#Name {
    color: yellow;
}